<template>
    <div>
        <b-navbar toggleable="md" type="dark" variant="primary">

            <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

            <b-navbar-brand href="/">Packages For Days</b-navbar-brand>

        </b-navbar>
        <b-container id="app-root">
        
            <b-row>
                <b-col>
                    <router-view></router-view>
                </b-col>
            </b-row>
        </b-container>
    </div>
    
</template>

<script src="./app.ts"></script>
